<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Novo Contato Cliente</div>

                    <div class="card-body">
                        <form ref="form" >
                            <div class="form-group row">
                                <label for="RazaoSocial" class="col-sm-4 col-form-label">Cliente</label>
                                <div class="col-sm-8">
                                    <select v-model="idCliente" class="form-control">
                                        <option v-for="(item, key) in clientes" :value="item.idCliente">
                                            {{ item.RazaoSocial }}
                                        </option>
                                    </select>
                                </div>
                            </div>                            
                            <div class="form-group row">
                                <label for="TipoContato" class="col-sm-4 col-form-label">Descrição Contato</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="TipoContato" id="TipoContato" v-model="TipoContato">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="DescContato" class="col-sm-4 col-form-label">Contato</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="DescContato" id="DescContato" v-model="DescContato">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Ativo" class="col-sm-4 col-form-label">Ativo</label>
                                <div class="col-sm-8">
                                    <input type="radio" id="BolAtivo" value="1" v-model="BolAtivo">
                                    <label for="BolAtivo">Ativo</label>
                                    <input type="radio" id="BolInativo" value="0" v-model="BolAtivo">
                                    <label for="BolInativo">Inativo</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label sr-only"></label>
                                <div class="col-sm-8">
                                    <button type="button" v-on:click="salvaContato" :disabled="$v.$invalid" class="btn btn-success">Salvar</button>
                                    <router-link  to="/listcontatos">Voltar</router-link>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <loading :active.sync="isLoading" :is-full-page="false" ></loading>
    </div>
</template>

<script>
    import { required, between } from 'vuelidate/lib/validators'
    import Loading from 'vue-loading-overlay'

    export default {
        data() {
            return {
                isLoading : false,
                idCliente : -1,
                BolAtivo : -1,
                TipoContato : '',
                DescContato : '',
                clientes : []
            }
        },
        components: {
            Loading: Loading
        },
        validations: {
            idCliente: { required },
            TipoContato: { required },
            DescContato: { required },
            BolAtivo: { between: between(0,1) }
        },
        mounted() {
            this.isLoading = true
            axios.get('/api/clientes/getAll')
            .then(response => {
                this.clientes = response.data
                this.isLoading = false
            })

        },
        methods: {
            salvaContato() {
                this.isLoading = true
                axios({
                    method: 'POST',
                    url: '/api/contatos/store',
                    data: {
                        idCliente : this.idCliente,
                        TipoContato : this.TipoContato,
                        DescContato : this.DescContato,
                        BolAtivo : this.BolAtivo
                    },
                    hexaders: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                })
                .then(response => {
                    this.isLoading = false
                    if (response.data.idContato) {
                        alert("Contato Salvo com sucesso!")
                        this.$router.push({ path: '/listcontatos'})
                    } else {
                        console.log(response.data)
                    }
                })                    
                .catch(e => {
                    console.log(e)
                    alert("Ops! Houve um problema ao tentar salvar o contato")
                })
            }

        }
    }
</script>
