<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Cadastro de Contatos dos Clientes
                        <router-link class="btn btn-success btn-sm float-right" to="/contatos/create"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo Contato</router-link>
                    </div>

                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            <tr class="table-active">
                                <th>Editar</th>
                                <th>Cliente</th>
                                <th>Tipo Contato</th>
                                <th>Contato</th>
                                <th>Ativo</th>
                            </tr>
                            <tr v-for="contato in contatos" >
                                <td>
                                    <router-link class="btn btn-primary btn-sm" :to="{ name: 'EditContato', params: {id: contato.idContato } }"><i class="fa fa-pencil" aria-hidden="true"></i></router-link>
                                </td>
                                <td>{{ contato.Cliente }}</td>
                                <td>{{ contato.TipoContato }}</td>
                                <td>{{ contato.DescContato }}</td>
                                <td>{{ contato.Descricao_Situacao }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <loading :active.sync="isLoading" ></loading>
    </div>
</template>

<script>

    import Loading from 'vue-loading-overlay'

    export default {
        data() {
            return {
                isLoading: false,
                contatos : []
            }
        },
        components : {
            Loading: Loading
        },
        mounted() {
            this.OnInit()
        },
        methods: {
            OnInit() {
                this.isLoading = true
                axios.get('api/contatos/getAll')
                .then(response => {
                    this.contatos = response.data
                    this.isLoading = false
                })
            }
        }
    }
</script>
