<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item active">Opções</li>
                    <router-link :style="{ cursor: 'pointer'}"  class="list-group-item" tag="li" to="/listclientes">Clientes</router-link>
                    <router-link :style="{ cursor: 'pointer'}"  class="list-group-item" tag="li" to="/listcontatos">Contatos Clientes</router-link>
                </ul>
            </div>
            <div class="col-md-10">
                <div id="app">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
    }
</script>
