<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Novo Clientes</div>

                    <div class="card-body">
                        <form ref="form" >
                            <div class="form-group row">
                                <label for="RazaoSocial" class="col-sm-4 col-form-label">Razão Social</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="RazaoSocial" v-model='RazaoSocial'>
                                </div>
                            </div>                            
                            <div class="form-group row">
                                <label for="Ativo" class="col-sm-4 col-form-label">Ativo</label>
                                <div class="col-sm-8">
                                    <input type="radio" id="BolAtivo" value="1" v-model="BolAtivo">
                                    <label for="BolAtivo">Ativo</label>
                                    <input type="radio" id="BolInativo" value="0" v-model="BolAtivo">
                                    <label for="BolInativo">Inativo</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label sr-only"></label>
                                <div class="col-sm-8">
                                    <button type="button" v-on:click="salvaCliente" class="btn btn-success" :disabled="$v.$invalid">Salvar</button>
                                    <router-link  to="/listclientes">Voltar</router-link>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <loading :active.sync="isLoading" :is-full-page="false" ></loading>

    </div>
</template>

<script>
    import { required, between } from 'vuelidate/lib/validators'

    import Loading from 'vue-loading-overlay'

    export default {
        data() {
            return {
                isLoading : false,
                RazaoSocial : '',
                BolAtivo : -1
            }
        },
        validations: {
            RazaoSocial: { required },
            BolAtivo: { between: between(0,1) }
        },
        components: {
            Loading: Loading
        },
        mounted() {
        },
        methods: {
            salvaCliente() {
                this.isLoading = true
                axios({
                    method: 'POST',
                    url: '/api/clientes/store',
                    data: {
                        RazaoSocial : this.RazaoSocial,
                        BolAtivo : this.BolAtivo
                    },
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                })
                .then(response => {
                    this.isLoading = false
                    if (response.data.idCliente) {
                        alert("Cliente salvo com sucesso! idCliente:" + response.data.idCliente);
                        this.$router.push({ path: '/listclientes' })
                    } else {
                        console.log(response)
                        alert("Ops! Houve umm erro ao tentar salvar o contato")
                    }                    
                })                    
                .catch(e => {
                    this.isLoading = false
                    console.log(e)
                })
            }

        }
    }
</script>
