<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Alterar Clientes</div>

                    <div class="card-body">
                        <form ref="form" >
                            <div class="form-group row">
                                <label for="RazaoSocial" class="col-sm-4 col-form-label">Razão Social</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="RazaoSocial" v-model='RazaoSocial'>
                                </div>
                            </div>                            
                            <div class="form-group row">
                                <label for="Ativo" class="col-sm-4 col-form-label">Ativo</label>
                                <div class="col-sm-8">
                                    <input type="radio" id="BolAtivo" value="1" v-model="BolAtivo">
                                    <label for="BolAtivo">Ativo</label>
                                    <input type="radio" id="BolInativo" value="0" v-model="BolAtivo">
                                    <label for="BolInativo">Inativo</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Ativo" class="col-sm-4 col-form-label">Data Cadastro</label>
                                <div class="col-sm-8">
                                    <span>{{ DataCadastro | moment("DD/MM/YYYY") }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label sr-only"></label>
                                <div class="col-sm-8">
                                    <button type="button" v-on:click="salvaCliente" :disabled="$v.$invalid" class="btn btn-primary">Salvar</button>
                                    <button type="button" v-on:click="deleteCliente" class="btn btn-danger">Excluir</button>
                                    <router-link  to="/listclientes">Voltar</router-link>
                                </div>
                            </div>

                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <loading :active.sync="isLoading" :is-full-page="false" ></loading>
    </div>
</template>

<script>
    import { required, between } from 'vuelidate/lib/validators'

    import Loading from 'vue-loading-overlay'

    export default {
        data() {
            return {
                isLoading : false,
                RazaoSocial : '',
                BolAtivo : -1,
                idCliente : -1,
                DataCadastro : '',
            }
        },
        components: {
            Loading: Loading
        },
        validations: {
            RazaoSocial: { required },
            BolAtivo: { between: between(0,1) }
        },
        mounted() {
            this.idCliente = this.$route.params.id
            this.OnInit()
        },
        methods: {
            OnInit() {
                this.isLoading = true
                axios.get('/api/clientes/'+this.idCliente+'/getCliente')
                .then(response => {
                    this.RazaoSocial = response.data.RazaoSocial
                    this.BolAtivo = response.data.BolAtivo
                    this.DataCadastro = response.data.DataCadastro
                    this.isLoading = false
                    //console.log(response.data)
                })
            },
            salvaCliente() {
                this.isLoading = true
                axios({
                    method: 'PUT',
                    url: '/api/clientes/update',
                    data: {
                        idCliente : this.idCliente,
                        RazaoSocial : this.RazaoSocial,
                        BolAtivo : this.BolAtivo
                    },
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                })
                .then(response => {
                    this.isLoading = false
                    if (response.data.idCliente) {
                        alert("Cliente salvo com sucesso!");
                        this.$router.push({ path: '/listclientes' })
                    } else {
                        console.log(response)
                        alert("Ops! Houve umm erro ao tentar salvar o cliente")
                    }                    
                })                    
                .catch(e => {
                    console.log(e)
                    alert("Ops! Houve umm erro ao tentar salvar o cliente")
                })
            },
            deleteCliente() {
                this.isLoading = true
                axios({
                    method: 'DELETE',
                    url: '/api/clientes/'+this.idCliente+'/delete',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                })
                .then(response => {
                    this.isLoading = false
                    if (response.data.retorno) {
                        alert("Registro Excluído com sucesso!");
                        this.$router.push({ path: '/listclientes' })
                    } else {
                        console.log(response);
                        alert("Ops!, houve um problema ao excluir esse registro!");
                    }
                })                    
                .catch(e => {
                    console.log(e)
                    alert("Ops!, houve um problema ao excluir esse registro!");
                })
            }
        }
    }
</script>
