<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Cadastro de Clientes
                        <router-link class="btn btn-success btn-sm float-right" to="/clientes/create" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo Cliente</router-link>
                    </div>

                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            <tr class="table-active">
                                <th>Editar</th>
                                <th>Nome</th>
                                <th>Data Cadastro</th>
                                <th>Situação</th>
                            </tr>
                            <tr v-for="cliente in clientes" >
                                <td>
                                    <router-link class="btn btn-primary btn-sm" :to="{ name: 'EditCliente', params: {id: cliente.idCliente } }"><i class="fa fa-pencil" aria-hidden="true"></i></router-link>
                                </td>
                                <td>{{ cliente.RazaoSocial }}</td>
                                <td>{{ cliente.DataCadastro | moment("DD/MM/YYYY") }}</td>
                                <td>{{ cliente.Descricao_Situacao }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <loading :active.sync="isLoading" ></loading>

    </div>
</template>

<script>

    import Loading from 'vue-loading-overlay'

    export default {
        data() {
            return {
                isLoading : false,
                clientes : []
            }
        },
        components: {
            Loading: Loading
        },
        mounted() {
            this.OnInit()
        },
        methods: {
            OnInit() {
                this.isLoading = true
                axios.get('api/clientes/getAll')
                .then(response => {
                    this.clientes = response.data
                    this.isLoading = false
                })
            }
        }
    }
</script>
